<div class="container">
   <h2>Container fisso</h2> 
   <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Suscipit odit similique, molestias rerum facere velit dicta 
        reiciendis optio dolor deleniti eius doloribus libero.
        Aliquid atque provident obcaecati reiciendis dolores quaerat.
   </p>
</div>

<div class="container-fluid">
    <h2>Container fisso</h2> 
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Suscipit odit similique, molestias rerum facere velit dicta 
         reiciendis optio dolor deleniti eius doloribus libero.
         Aliquid atque provident obcaecati reiciendis dolores quaerat.
    </p>
 </div>
