<h2>operatori</h2>
<div class="row">
  <div class="col">
    <h3>map</h3>

    <button class="btn btn-outline-success" (click)="esempio1()">avvia</button>

    <h3>cambio tipo di dato</h3>

    <button class="btn btn-outline-success" (click)="esempio2()">avvia</button>

    <h3>esempio 3</h3>

    <button class="btn btn-outline-success" (click)="esempio3()">avvia</button>
  </div>

  <div class="col">
    <h3>tap</h3>
    <p>controllo valori tipo il for each</p>
    <button class="btn btn-outline-success" (click)="esempio4()">avvia</button>

    <h3>tap</h3>
    <p>controllo iterativo</p>
    <button class="btn btn-outline-success" (click)="esempio5()">avvia</button>
  </div>

  <div class="col">
    <h3>take e skip</h3>
    <p>take</p>
    <button class="btn btn-outline-success" (click)="esempio6()">avvia</button>

    <h3>skip</h3>
    <p>skip</p>
    <button class="btn btn-outline-success" (click)="esempio7()">avvia</button>

    <h3>skip e take</h3>
    <p>skip e take</p>
    <button class="btn btn-outline-success" (click)="esempio8()">avvia</button>
  </div>
</div>
