<h2>observable</h2>
<div class="row">
  <div class="col">
    <h3>introduzione</h3>
    <button class="btn btn-outline-success" (click)="esempio1()">
      avvia es 1
    </button>
    <h3>funzioni</h3>
    <button class="btn btn-outline-success" (click)="esempio2()">
      avvia es 2
    </button>
    <h3>subscription</h3>
    <button class="btn btn-outline-success" (click)="esempio3(0)">
      avvia es 3
    </button>
    <button class="btn btn-outline-danger" (click)="esempio3(1)">ferma</button>

    <h3>observable da array</h3>
    <button class="btn btn-outline-success" (click)="esempio4()">
      avvia es 4
    </button>

    <h3>eventi</h3>
    <button class="btn btn-outline-success" (click)="esempio5(0)">
      avvia es 5
    </button>
    <button class="btn btn-outline-danger" (click)="esempio5(1)">ferma</button>

    <h3>sequenze di numeri</h3>
    <button class="btn btn-outline-success" (click)="esempio6()">
      avvia es 6
    </button>
  </div>
</div>
