<div class="container">
  <h2>Collegamenti</h2>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem magnam,
    consequatur nemo laborum eos <a href=""> odio libero officiis,</a>
    fugiat eum ab esse aspernatur expedita nisi impedit. Libero illum dolorum
    quis vitae.
  </p>

  <h3>Barra di navigazione</h3>
  <nav class="nav">
    <a href="" class="nav-link">Home</a>
    <a href="" class="nav-link">Azienda</a>
    <a href="" class="nav-link">Prodotti</a>
    <a href="" class="nav-link">Contatti</a>
  </nav>

  <ul class="nav">
    <li class="nav-item">
      <a href="" class="nav-link">Home</a>
    </li>
    <li li class="nav-item">
      <a href="" class="nav-link">Home</a>
    </li>
    <li li class="nav-item">
      <a href="" class="nav-link">Home</a>
    </li>
    <li li class="nav-item">
      <a href="" class="nav-link">Home</a>
    </li>
  </ul>

  <h2>Pulsanti</h2>
  <h3>Link con pulsanti</h3>

  <p>
    <a href="">Link normale</a>
    <a href="" class="btn bg-primary text-light"> link pulsante</a>
    <a href="" class="btn btn-primary"> link pulsante</a>
  </p>

  <h3>Pulsanti di forma</h3>
  <p>
    <input type="button" value="clicca qui" />
    <input type="button" value="clicca qui" class="btn btn-secondary" />
  </p>

  <h3>Button</h3>
  <p>
    <button>clicca qui</button>
    <button class="btn btn-info">clicca qui</button>
    <button class="btn btn-info btn-sm">clicca qui</button>
    <button class="btn btn-info btn-lg">clicca qui</button>
  </p>

  <div class="w-25 border border-2 border-primary d-grid">
    <h4>Pulsanti blocco</h4>
    <button class="btn btn-info">clicca qui</button>
  </div>
  <h3>Pulsanti outline</h3>
  <div class="btn-group">
    <button class="btn btn-outline-danger">clicca qui</button>
    <button class="btn btn-outline-danger">clicca qui</button>
  </div>
</div>
