<div class="container">
  <h2>Cards</h2>

  <h3>Solo testo</h3>
  <div class="card">
    <div class="card-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente sint
      dolore nostrum assumenda sequi, iure exercitationem quia dolores incidunt
      voluptatibus? Praesentium dolorem cum expedita unde voluptate facere odit
      aspernatur animi?
    </div>
  </div>
</div>

<h3>Card incolonnate</h3>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Card 1</div>

      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam
        in molestiae voluptatem id nemo quae ipsum placeat optio nisi
        consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt
        dolor.
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header">Card 2</div>

      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam
        in molestiae voluptatem id nemo quae ipsum placeat optio nisi
        consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt
        dolor.
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header">Card 3</div>

      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam
        in molestiae voluptatem id nemo quae ipsum placeat optio nisi
        consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt
        dolor.
      </div>
    </div>
  </div>
</div>
