<div class="container">
    <h2>Visibilità</h2>

    <p>Mostrare elementi in base al brackpoint</p>
    <p class="d-none d-sm-block">Paragrefo visibile da sm in poi</p>
    <p class="d-none d-md-block">Paragrefo visibile da md in poi</p>
    <p class="d-none d-lg-block">Paragrefo visibile da lg in poi</p>


    <p>Nascondere elementi in base al breackpoint</p>
    
    <p class="d-sm-none">Paragrafo visibile solo in xs</p>
    <p class="d-none d-sm-block d-md-none">Paragrafo visibile solo in sm</p>
    <p class="d-none d-md-block d-lg-none">Paragrafo visibile solo in md</p>
    <p class="d-none d-lg-block d-xl-none">Paragrafo visibile solo in lg</p>
</div>