<div class="container">
  <h1>Bootstrap demo</h1>

  <p>
    Indice dei contenuti:
  </p>
  <ul>
    <li><a routerLink="container">Container</a></li>
    <li><a routerLink="colonne">Colonne</a></li>
    <li><a routerLink="visibilita">Visibilità</a></li>
    <li><a routerLink="colore">Colore</a></li>
    <li><a routerLink="bordi">Bordi</a></li>
    <li><a routerLink="allineamento">Allineamento</a></li>
    <li><a routerLink="spaziature">Spaziature</a></li>
    <li><a routerLink="disposizione">Disposizione</a></li>
    <li><a routerLink="immagini">Immagini</a></li>
    <li><a routerLink="testi">Testi</a></li>
    <li><a routerLink="tabella">Tabella</a></li>
    <li><a routerLink="collegamenti">Collegamenti</a></li>
    <li><a routerLink="badge">Badge</a></li>
    <li><a routerLink="liste">Liste</a></li>
    <li><a routerLink="alert">Alert</a></li>
    <li><a routerLink="card">Card</a></li>
    <li><a routerLink="colonne-avanzate">Colonne Avanzate</a></li>
    <li><a routerLink="dropdown">Dropdown menu</a></li>
    <li><a routerLink="nav">Nav</a></li>
    <li><a routerLink="navbar">Navbar</a></li>
  </ul>
</div>

<router-outlet></router-outlet>