<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Esercizio01</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Benvenuti nel primo esercizio</h1></header>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Azienda</a></li>
        <li><a href="">Prodotti</a></li>
    </ul>
    </nav>
    <main>
      <h2>Homepage</h2>
      <div class="img_d">
      <img src="/assets/img/img_1.jpg" alt="Immagine alpaca">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae libero unde explicabo optio possimus. Fugit, quas eos alias,
         illum doloremque quis necessitatibus labore nobis maxime ad placeat, reprehenderit delectus doloribus?</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat neque eos, incidunt assumenda excepturi cum quae vel ducimus sit eum veniam praesentium! Error amet quidem temporibus beatae sint, eveniet earum?</p>
    </div>
    </main>

    <footer>Michelle Galli 2021</footer>
  </div>
</body>
</html>