<div class="container">
    <h2>Spaziature</h2>

    <h3>Padding</h3>

    <p class="bg-warning p-2">
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
 Facilis dolor dignissimos libero labore modi veniam quas, 
maxime ipsam doloremque sint commodi distinctio ullam, 
vel aut, quam vitae aliquid esse asperiores?
    </p>

    <p class="bg-warning p-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Facilis dolor dignissimos libero labore modi veniam quas, 
    maxime ipsam doloremque sint commodi distinctio ullam, 
    vel aut, quam vitae aliquid esse asperiores?
            </p>

     <p class="bg-warning p-4">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Facilis dolor dignissimos libero labore modi veniam quas, 
    maxime ipsam doloremque sint commodi distinctio ullam, 
    vel aut, quam vitae aliquid esse asperiores?
                    </p>

<h3>Margin</h3>
<h4>Margine sui 4 lati</h4>
<p>Paragrafo normale</p>
<p class="m-3">paragrafo margin</p>
</div>

