<div class="container">
    <h2>Nav</h2>

    <h3>Nav normale</h3>
    <div class="nav">
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
    </div>
    <h3>Nav centrata</h3>
    <div class="nav justify-content-center">
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
    </div>
    <h3>Nav normale</h3>
    <div class="nav nav-fill">
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
        <a href="" class="nav-link">Uno</a>
    </div>
</div>