<div class="container">
    <h2>Colori</h2>

    <h2 class="bg-primary"> Color primary</h2>
    <p class="text-primary"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Mollitia quidem tempora totam? Minima itaque ipsa possimus nisi dolore 
        numquam animi optio modi reiciendis incidunt! Commodi quam esse tempore qui corrupti!</p>
        <h2 class="bg-secondary"> Color secondary</h2>
    <p class="text-secondary"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Mollitia quidem tempora totam? Minima itaque ipsa possimus nisi dolore 
        numquam animi optio modi reiciendis incidunt! Commodi quam esse tempore qui corrupti!</p>
        <h2 class="bg-success"> Color success</h2>
    <p class="text-success"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Mollitia quidem tempora totam? Minima itaque ipsa possimus nisi dolore 
        numquam animi optio modi reiciendis incidunt! Commodi quam esse tempore qui corrupti!</p>
        <h2 class="bg-warning"> Color warning</h2>
    <p class="text-warning"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Mollitia quidem tempora totam? Minima itaque ipsa possimus nisi dolore 
        numquam animi optio modi reiciendis incidunt! Commodi quam esse tempore qui corrupti!</p>
        <h2 class="bg-danger"> Color danger</h2>
    <p class="text-danger"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Mollitia quidem tempora totam? Minima itaque ipsa possimus nisi dolore 
        numquam animi optio modi reiciendis incidunt! Commodi quam esse tempore qui corrupti!</p>
        <h2 class="bg-info"> Color info</h2>
    <p class="text-info"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Mollitia quidem tempora totam? Minima itaque ipsa possimus nisi dolore 
        numquam animi optio modi reiciendis incidunt! Commodi quam esse tempore qui corrupti!</p>
        <h2 class="bg-dark text-light"> Sfondo dark </h2>
    <p class="text-secondary"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Mollitia quidem tempora totam? Minima itaque ipsa possimus nisi dolore 
        numquam animi optio modi reiciendis incidunt! Commodi quam esse tempore qui corrupti!</p>
</div>