<div class="container">
    <h2>Colonne</h2>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
       Incidunt facilis atque quisquam fugiat velit officia aperiam 
       sapiente itaque? Sequi iure saepe assumenda in sit veritatis non!
        Labore, qui a. Enim?</p>
   <h3>Colonne automatiche</h3> 

   <div class="row">
   <p class="col">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. 
       Tempore hic earum quos, commodi voluptatum corrupti magni 
       atque similique reiciendis eaque sed. Porro quaerat quis excepturi,
        a ut ducimus ad illum?
   </p>
   <p class="col">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Tempore hic earum quos, commodi voluptatum corrupti magni atque
     similique reiciendis eaque sed. Porro quaerat quis excepturi, 
     a ut ducimus ad illum?
</p>
</div>

<div class="row">
    <p class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Tempore hic earum quos, commodi voluptatum corrupti magni 
        atque similique reiciendis eaque sed. Porro quaerat quis excepturi,
         a ut ducimus ad illum?
    </p>
    <p class="col">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. 
     Tempore hic earum quos, commodi voluptatum corrupti magni atque
      similique reiciendis eaque sed. Porro quaerat quis excepturi, 
      a ut ducimus ad illum?
 </p>
 <p class="col">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Tempore hic earum quos, commodi voluptatum corrupti magni atque
     similique reiciendis eaque sed. Porro quaerat quis excepturi, 
     a ut ducimus ad illum?
</p>
</div>
<h3>Colonne Fisse </h3>
<div class="row">
<p class="col-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Tempore hic earum quos, commodi voluptatum corrupti magni atque
     similique reiciendis eaque sed. Porro quaerat quis excepturi, 
     a ut ducimus ad illum?
</p>
<p class="col-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Tempore hic earum quos, commodi voluptatum corrupti magni atque
     similique reiciendis eaque sed. Porro quaerat quis excepturi, 
     a ut ducimus ad illum?
</p>

</div>
<h3>Colonne responsive</h3>
<div class="row">
    <p class="col-md">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Tempore hic earum quos, commodi voluptatum corrupti magni atque
         similique reiciendis eaque sed. Porro quaerat quis excepturi, 
         a ut ducimus ad illum?
    </p>
    <p class="col-md">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Tempore hic earum quos, commodi voluptatum corrupti magni atque
         similique reiciendis eaque sed. Porro quaerat quis excepturi, 
         a ut ducimus ad illum?
    </p>
    
    </div>
</div>