<article>
    <div class="article-container">
    <h3>
        Articolo
    </h3>
    <img src="./assets/img/avanade.jpg" alt="Immagine logo di Avanade">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Recusandae ipsum velit mollitia laboriosam aspernatur possimus blanditiis, 
        inventore, temporibus nisi itaque sint quisquam maxime qui amet repellendus iure ab. 
        Reprehenderit, officia. </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Recusandae ipsum velit mollitia laboriosam aspernatur possimus blanditiis, 
            inventore, temporibus nisi itaque sint quisquam maxime qui amet repellendus iure ab. 
            Reprehenderit, officia. </p>
        </div>
</article>